/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/
.theme-light .nav-decoration {
  display: none;
}
:root.theme-light {
  --background-img: url(../images/cover-image-light.png);
  --background-color: #FFEEF6;
  --accent-color: #FF8DCB;
  --main-text-color: #353430;
  --accent-text-color: #353430;
  --title-color: #FFC2E6;
}
.theme-light .header__theme-menu-button:hover { 
  border: 1px solid rgba(50, 49, 45, 0.4);
  padding: 0.5px 12px;
  }
.theme-light .header__theme-menu-button:focus-visible {
    text-decoration: underline var(--accent-text-color, #353430);
  }
.theme-light .header__theme-menu-button_active {
    border: 1px solid var(--accent-text-color, #353430);
  }

