/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/
.theme-light .nav-decoration {
  display: none;
}
:root.theme-light {
  --background-img: url(../images/cover-image-light.png);
  --background-color: #FFEEF6;
  --accent-color: #FF8DCB;
  --main-text-color: #353430;
  --accent-text-color: #353430;
  --title-color: #FFC2E6;
}

